# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac files
.DS_Store
.Spotlight-V100

# LaTeX temporary files
*.aux
*.log
*.toc
*.xml
*.out

# BibTeX
*.bbl
*.blg
*.bcf

# SyncTeX
*.synctex.gz

# Folders
metadata-activity/
